.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(to right, black, rgb(34, 34, 34));
}

.container > div {
    background: rgb(78, 77, 77);
    color : aliceblue;
    text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(48, 48, 48);
  padding: 8px 15px;
  border-radius: 5px;
  transition: 500ms;
}

.btn:hover {
  background-color: rgb(123, 123, 123);
  color: black;
}

img {
    transition: 500ms;
    opacity: 0.8;
}

img:hover {
    box-shadow: 0 0 20px 5px white;
    opacity: 1;
}

p:hover {
    /* text-decoration: underline; */
}

p {
    transition: 500ms ease-in-out;
}