.container-asma {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
}

.profile-asma {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-asma {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
}

.btn-retour-asma {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background-color: #007bff ;
  padding: 8px 15px;
  border-radius: 5px;
}

.btn-retour-asma:hover {
  background-color: #0056b3;
}
