
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    white,
    rgb(254, 215, 173)
  );
  font-family: "Poppins", sans-serif;
}

.profile-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 35px 30px;
  width: 340px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.image-wrapper {
  width: 140px;
  height: 140px;
  margin: 0 auto 15px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(135deg, #f6b26b, #f9cb9c);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: white;
}

.name {
  margin: 10px 0 5px;
  font-size: 22px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #e67e22;
  margin-bottom: 20px;
}

.infos {
  text-align: left;
  margin-bottom: 25px;
}

.infos p {
  margin: 10px 0;
  font-size: 14px;
  color: #444;
}

.infos span {
  font-weight: 600;
  color: #e67e22;
}


.back-btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 30px;
  background: linear-gradient(to right, #f6b26b, #e69138);
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.back-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
