.profile-card {
  width: 500px; 
  background: #ffe4f0;
  border-radius: 20px;
  padding: 25px;
  display: flex; 
  align-items: center;
  gap: 25px; 
  box-shadow: 0 10px 20px rgba(255, 182, 193, 0.4);
  margin: 50px auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  transition: transform 0.4s, box-shadow 0.4s;
  cursor: pointer;
}

.profile-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 30px rgba(255, 182, 193, 0.6);
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ffb6c1;
  transition: transform 0.4s, box-shadow 0.4s;
}

.profile-img:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 10px 20px rgba(255, 182, 193, 0.5);
}


.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff; 
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  min-width: 220px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #d63384;
  margin: 0 0 20px 0;
  transition: color 0.3s;
}

.profile-card:hover .name {
  color: #ff1493;
}

.lastname {
  font-size: 20px;
  font-weight: 500;
  color: #ff69b4;
  margin: 0 0 20px 0;
  transition: color 0.3s;
}

.profile-card:hover .lastname {
  color: #ff85c1;
}

.email {
  font-size: 20px;
  color: #a83279;
  display: flex;
  align-items: center;
  gap: 6px;

  transition: color 0.3s, letter-spacing 0.3s;
}

.email span {
  color: grey;
}

.profile-card:hover .email {
  color: #d63384;
  letter-spacing: 1px;
}


@media (max-width: 500px) {
  .profile-card {
    flex-direction: column; 
    width: 90%;
    gap: 15px;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  .profile-details {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .dob {
  font-size: 14px;
  color: #a83279;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s, letter-spacing 0.3s;
 
}

.dob p {
  color: rgb(221, 103, 162); 
 
}

.profile-card:hover .dob {
  color: #d63384;
  letter-spacing: 1px;
  
} 


}



